version: 2
jobs:
  feature_build:
    docker:
      - image: circleci/node
    branches:
      only: feature_calender
    steps:
      - checkout
      - run: 
          commands: 
            - echo "helllllo $CIRCLE_BRANCH"
      - run: 
        command: git merge dev_integration
      - run:
        command: echo "git merge done"
  int_build:
    docker:
      - image: circleci/node
    branches:
      only: dev_integration
    steps:
      - checkout
      - run: 
          command: echo "hello $CIRCLE_BRANCH"
workflows:
  version: 2
  feature_int:
    jobs:
      - feature_build:
          filters:
            branches:
              only:
                - /feature_.*/
      - int_build:
          filters:
            branches:
              only:
                - dev_integration
