version: 2
jobs:
  build:
    docker:
      - image: circleci/node
    branches:
      only: feature_calender
    steps:
      - checkout
      - run: 
          commands: 
            - echo "helllllo $CIRCLE_BRANCH"
      - run: 
        command: git merge dev_integration
      - run:
        command: echo "git merge done"
  build:
    docker:
      - image: circleci/node
    branches:
      only: dev_integration
    steps:
      - checkout
      - run: 
          command: echo "hello $CIRCLE_BRANCH"