version: 2
jobs:
  build:
    docker:
      - image: circleci/node
    branches: 
      only: 
        - "feature_.*"
    steps:
      - checkout
      - run: 
          command: echo "hello $CIRCLE_BRANCH"
          command: git merge dev_integration
  build:
    docker:
      - image: circleci/node
    branches: 
      only: 
        - "dev_integration"
    steps:
      - checkout
      - run: 
          command: echo "hello $CIRCLE_BRANCH"